/bin/
/crypto-config/*
# channel-artifacts/*.tx
channel-artifacts/*
/chaincode/node_modules/*
/chaincode/*.tar.*
/*.tar.*
/chaincode/package-lock.json
/api/node_modules/*
api/package-lock.json
/chaincode/package-lock.json
/chaincode/mfc-prdc/package-lock.json
/chaincode/mfd-whs/package-lock.json
/chaincode/whs-rtlr/package-lock.json
/chaincode/mfc-prdc/node_modules/*
/chaincode/mfd-whs/node_modules/*
/chaincode/whs-rtlr/node_modules/*
/fabric-ca-mfc
/fabric-ca-server-tls
.env
# /api/tata-wallet/*.id
# /api/teafarm-wallet/*.id
# /fabric-ca-config/*
# /bin/
coffee_poc/chaincode/wrcc.tar.gz
coffee_poc/chaincode/pmcc.tar.gz
coffee_poc/chaincode/mwcc.tar.gz
/fabric-ca-client/fabric-ca/*
